@import "constants";
@import "searchResults";
@import "pagination";
@import "searchBar";

// html & body
.App {
  //height: 100vh;

  color: $color-text-white;

  .App-header {
    padding: 1.8rem 0 1rem;
    background-color: $color-primary;
  }

  p {
    //font-size: 1.6rem;
    //color: $text-color-secondary;
  }
  h1, h2, h3, h4, h5, h6 {
    //color: $primary-color;
  }
  h1 {
    //font-size: 4.5rem;
    //margin-bottom: 3rem;
  }
  .btn {
    background-color: $color-primary;
    color: $color-text-white;
    font-weight: 600;
    border: 3px solid $color-background-white;

    &:hover {
      background-color: $color-background-white;
      border-color: $color-background-white;
      color: $color-primary;
    }

    &:focus {
      box-shadow: none;
    }
  }
}

