// colors
$color-primary: #0097A9;
$color-text-white: #fff;
$color-text-gray: #aaa;
$color-text-grayer: #777;
$color-background-gray: #eee;
$color-background-white: #fff;


// Display sizes (min-width)
$small-mobile-viewport-size: 480px;
$mobile-viewport-size: 576px;
$tablet-viewport-size: 768px;
$desktop-viewport-size: 992px;
$large-desktop-viewport-size: 1200px;
// Display sizes (max-width)
$mobile-viewport-size-max: $mobile-viewport-size + 1px;
$tablet-viewport-size-max: $tablet-viewport-size + 1px;
$desktop-viewport-size-max: $desktop-viewport-size + 1px;

// other
$border-radius: 0.3rem;
