@import "./constants";

html {
  font-size: 14px;
  @media (min-width: $tablet-viewport-size) {font-size: 15px;}
  @media (min-width: $desktop-viewport-size) {font-size: 16px;}
  //@media (min-width: $large-desktop-viewport-size) {font-size: 10px;}

  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 1rem;
  }

}