@import "./constants";

$pagination-height: 2.1rem;

.pagination-wrapper {
  display: flex;

  ul.pagination {
    margin-left: auto;
    height: $pagination-height;
    color: $color-text-white;

    background-color: $color-primary;
    border-radius: $border-radius;



    li {
      user-select: none;

      a {
        line-height: $pagination-height;
        padding: 0 0.8rem;
        display: inline-block;
        color: inherit;

        &:focus {
          outline: none;
        }
      }

      &.disabled, &.disabled:hover {
        color: $color-text-gray;
        background-color: $color-background-white;
        a {
          cursor: default;
        }
      }
    }

    li:hover, li.active {
      background-color: $color-text-white;
      color: $color-primary;
      a {

        text-decoration: none;
        cursor: pointer;
      }
    }

    @media (max-width: $mobile-viewport-size-max) {
      margin-left: initial;
      width: 100%;
      display: flex;

      justify-content: space-between;
      li {
        flex: 1 1 auto;
        a {
          width: 100%;
          text-align: center;
          padding: 0;
        }
      }

    }
  }
}