@import "constants";

.search-results {
  padding-top: 2rem;

  @media (min-width: $tablet-viewport-size) {
    .container {
      //width: 80%;
      //margin: 0 auto;
    }
  }

  .results-main.row {

    .card {
      margin-bottom: 1.1rem;
      padding: 0.8rem 1.4rem;
      background-color: $color-background-white;
      border: 3px solid $color-primary;
      border-radius: $border-radius;
      color: $color-text-grayer;

      .price {
        font-size: 1.3rem;
        font-weight: 600;
        color: $color-primary;
      }

      &:hover {
        background-color: $color-primary;
        color: $color-text-white;
        .price {
          color: $color-text-white;
        }
      }
    }
  }

}