@import "./constants";

$select-height: 4.1rem;
$select-placeholder-size: 1.3rem;
$select-padding: 0.7rem;

.search-bar {
  background-color: $color-primary;
  padding-bottom: 1rem;
  // column margin
  .row > div {
    margin-bottom: 0.8rem;
  }

  .location.row {
    .location-select {
      .Select-control {
        height: $select-height;
        border: 0;
        border-radius: $border-radius;

        .Select-value {
          font-size: 0.9rem;
          margin-left: 0.25rem;
          margin-top: 0.25rem;
          border-color: $color-primary;
          color: $color-primary;
          background-color: lighten($color-primary, 65);

          .Select-value-icon:hover {
            background-color: lighten($color-primary, 55);
          }
          .Select-value-label {
            padding: 1px 5px;
          }
        }

        .Select-input {
          height: auto;
          input {
            padding: 0.3rem 0 0;
            color: $color-text-grayer;
            font-size: 1.2rem;
          }
        }
        .Select-placeholder {
          font-size: $select-placeholder-size;
          line-height: $select-height;
          color: $color-text-gray;
          padding: 0 $select-padding;
        }

        .Select-clear-zone {
          padding-right: 0.8rem;
        }
        .Select-arrow-zone {
          display: none;
        }
      }
    }
  }

  .date-submit.row {
    .button-wrap {
      display: flex;
      justify-content: center;
      button {
        height: $select-height;
        border-radius: $border-radius;
        font-size: $select-placeholder-size;
        padding-left: 1.8rem;
        padding-right: 1.8rem;
        width: 100%;

        .fetching {
          position: absolute;

        }

        @media (min-width: $mobile-viewport-size) {
          //width: initial;
        }
      }
    }
  }

  .date-selector {
    .DateRangePicker {
      width: 100%;

      .DateRangePickerInput {
        width: 100%;
        display: flex;
        flex: 1;
        justify-content: space-between;
        align-items: center;
        height: $select-height;
        border: 0;
        border-radius: $border-radius;

        .DateInput {
          flex: 1 1 auto;
          width: 100px;

          input.DateInput_input {
            font-size: $select-placeholder-size;
            color: $color-primary;
            padding-left: $select-padding;
            padding-right: $select-padding;

            &::placeholder {
              color: $color-text-gray;
            }
          }

          .DateInput_input__focused {
            border-color: $color-primary;
          }
        }
        .DateRangePickerInput_arrow {
          flex: 0 0 auto;
          svg {
            fill: $color-primary;
          }
        }
      }

      .DateRangePicker_picker {
        .CalendarDay__selected,
        .CalendarDay__selected:active,
        .CalendarDay__selected:hover {
          background: $color-primary;
          border-color: $color-primary;
        }
        .DayPicker_weekHeader_li {
        }
      }
    }
  }
}

.DayPickerKeyboardShortcuts_panel {
  color: $color-primary;
}